<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connstring>
    Server=192.168.201.60;Initial Catalog=TAKU_BASE;User ID=sa;Password=admin@1234
  </connstring>
  
  <window_caption>
    商品画像ファイル　未配置一覧
  </window_caption>
  <list_row_count>
    25
  </list_row_count>
</configuration>
